body {
    height: 800px;
    width: 1000px;
    background-color: rgba(255, 0, 0, 0.59)
}
#baner {
    height: 30%;
    width: ;
    background-color: red;

}
#menu {
    background-color: aqua;
    height: 70%;
    width: 33%;
    float: left;
}
#tresc {
    background-color: yellowgreen;
    height: 70%;
    width: 33%;
    float: left;
}
#stopka {
    background-color: white;
    height: 70%;
    width: 33%;
    float: left;
}
