body {
    height: 700px;
    width: 1000px;
    background-color: blue;
}

#baner {
    height: 25%;
    width: 100%
    background-color: yellow;
}

#menu {
    height: 25%;
    width: 100%;
    float: left;
    background-color: green;
}

#tresc {
    height: 25%;
    width: 50%;
    float: left;
    background-color: pink;
}

#tresc2 {
    height: 25%;
    width: 50%;
    float: left;
    background-color: gray;
}

#stopka {
    height: 25%;
    width: 100%;
    float: left;
    background-color: black;
}
